.ReportCard {
  border: 1px solid white;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}

span {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.Header {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
