.Card {
  border: 1px solid white;
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}

.Typo1 {
  color: #000000;
  font-size: 8px;

  margin-right: 1%;
}

.Typo2 {
  color: #000000;
  font-size: 8px;
  margin-right: 1%;
  justify-content: space-between;
}

.Typo3 {
  color: #000000;

  padding-right: 5%;
  font-size: 8px;
}

@media screen and (max-width: 600px) {
  .Typo1 {
    color: #000000;
    font-size: 2px;
    display: flex;
    justify-content: space-evenly;
  }

  .Typo2 {
    color: #000000;
    font-size: 2px;
    display: flex;
    justify-content: space-evenly;
  }

  .Typo3 {
    color: #000000;
    display: flex;
    justify-content: center;
  }
  img {
    margin-right: 2%;
  }
}
